.header {
  display: flex;
  justify-content: space-around;
  padding: 1.6rem;
  background-color: #b3c3e0;
}
.logo {
  font-size: 2.4rem;
  font-weight: 700;
}

.btn,
.btn:link,
.btn:visited {
  background-color: inherit;
  border: none;
  box-shadow: inset 0 0 0 2px #4268b2;
  color: inherit;
  font-size: 2rem;
  font-weight: 700;
  padding: 8px 24px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 0 0 2px #4268b2;
  background-color: #4268b2;
  color: #b3c3e0;
}

.cart-quantity {
  font-weight: inherit;
  color: #b3c3e0;
  background-color: #4268b2;
  padding: 3px 16px;
  margin-left: 8px;
  border-radius: 20px;
  transition: all 0.3s;
}

.btn:hover .cart-quantity {
  color: #4268b2;
  background-color: #b3c3e0;
}
